/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}

/* Header */
.header{
    background-color: white;
}

/* Main */
main{
    background-color: lightgrey;
    height: 600px;
    padding: 50px;
}
/* Container del main */
.container{
    width: 60%;
    margin: 0 auto;
    height: 400px;
}

/* prima sezione */
.prima{
margin-bottom: 3px;
background-color: white;
padding: 10px 40px;
}

/* Bottoni */
.bnt{
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 8px;
}

.bnt-blu{
    background-color: lightblue;
    border: solid transparent;
}

.bnt-bianco{
    background-color: white;
    border: 1px solid lightgray;
}

.bnt:hover{
    background-color: red;
    color: white;
}

.bnt:active{
    background-color: lightcoral;
    padding: 1px;
}

/* seconda sezione */
.seconda{
    padding: 30px 40px;
    background-color: white;
}

.elenco{
    margin-bottom: 30px;
}

.btd{
    margin-right: 10px;
}

.check{
    margin-right: 12px;
    color: green;
}

.cross{
    margin-right: 12px;
    color: red;
    
}

